body {
  background-color: var(--bgColor);
  color: var(--textColor);
}

html {
  scrollbar-width: thin;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 15px;
  background-color: var(--textColor);
}

::-webkit-scrollbar-thumb {
  background: var(--accent1Color);
}

* {
  scrollbar-color: var(--accent1Color) var(--textColor);
}

.btn {
  @apply text-lg md:text-2xl whitespace-nowrap;
  background-color: var(--accent1Color);
  color: var(--textColor);
  padding-block: 0.4rem;
  padding-inline: 0.7rem;
  transition: all 0.3s;
  display: block;
  width: fit-content;
  &:hover {
    background-color: var(--bgColor);
    color: var(--textColor);
  }
}

.small-separator {
  margin-inline-start: 2rem;
  width: 25%;
  height: 5px;
  background-color: var(--textColor);
}

.list-border > * + * {
  border-top: 2px solid var(--textColor);
  @apply pt-4 md:pt-8;
}

p + p {
  margin-block-start: 1rem;
}

// section+section{
//   margin-block-start: 2rem;
// }

section.feature:nth-child(odd){
  & .feature-content{
    @apply flex-col md:flex-row-reverse;
  }
}

section.feature:nth-child(even){
  & .feature-content{
    @apply flex-col md:flex-row;
  }
}

//STYLE THE BLOG POST ELEMENTS

article {
  @apply text-lg;
  & p+p{
    @apply my-4 md:my-8;
  }
  & p {
    @apply mx-auto max-w-prose;
  }

  & p:first-of-type {
    @apply mt-16;
  }

  & #content a:not(.normal) {
    @apply bg-[var(--accent1Color)] px-1;
  }

  & h2 {
    @apply text-3xl my-4 md:my-8 font-extrabold text-center max-w-prose mx-auto;
  }

  & h3 {
    @apply text-xl my-4 md:my-8 font-extrabold text-left max-w-prose mx-auto;
  }

  & h4, h5 {
    @apply text-xl my-4 md:my-8 uppercase font-normal text-left max-w-prose mx-auto;
  }

  & blockquote {
    @apply pl-4 border-l-4 border-[var(--textColor)] my-4 md:my-8 text-xl italic max-w-prose mx-auto;
  }

  & ul:not(.list-none) {
    @apply list-inside list-disc my-4 leading-loose max-w-prose mx-auto;
    & ul {
      @apply pl-4 my-0;
      list-style-type: circle;
    }
  }

  & ol {
    @apply list-inside list-decimal my-4 leading-loose max-w-prose mx-auto;
    & ol {
      @apply pl-4 my-0;
      list-style-type: lower-alpha;
    }
  }
}