body {
  background-color: var(--bgColor);
  color: var(--textColor);
}

.btn {
  @apply text-lg md:text-2xl whitespace-nowrap;
  background-color: var(--textColor);
  color: var(--bgColor);
  padding-block: 0.4rem;
  padding-inline: 0.7rem;
  border: 1px solid var(--bgColor);
  transition: all 0.3s;
  &:hover {
    background-color: var(--bgColor);
    color: var(--textColor);
    border: 1px solid var(--textColor);
  }
}

.small-separator {
  margin-inline-start: 2rem;
  width: 25%;
  height: 5px;
  background-color: var(--textColor);
}

.list-border > * {
  border-top: 2px solid var(--textColor);
  @apply pt-4 md:pt-8;
}
