body {
  background-color: var(--bgColor);
  color: var(--textColor);
}

html {
  scrollbar-width: thin;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 15px;
  background-color: var(--textColor);
}

::-webkit-scrollbar-thumb {
  background: var(--accent1Color);
}

* {
  scrollbar-color: var(--accent1Color) var(--textColor);
}

.btn {
  @apply text-lg md:text-2xl whitespace-nowrap;
  background-color: var(--accent1Color);
  color: var(--textColor);
  padding-block: 0.4rem;
  padding-inline: 0.7rem;
  transition: all 0.3s;
  display: block;
  width: fit-content;
  &:hover {
    background-color: var(--bgColor);
    color: var(--textColor);
  }
}

.small-separator {
  margin-inline-start: 2rem;
  width: 25%;
  height: 5px;
  background-color: var(--textColor);
}

.list-border > * + * {
  border-top: 2px solid var(--textColor);
  @apply pt-4 md:pt-8;
}

p + p {
  margin-block-start: 1rem;
}

// section+section{
//   margin-block-start: 2rem;
// }

section.feature:nth-child(odd){
  & .feature-content{
    @apply flex-col md:flex-row-reverse;
  }
}

section.feature:nth-child(even){
  & .feature-content{
    @apply flex-col md:flex-row;
  }
}
