---
import "../styles/global.scss";
import Fonts from "../styles/fonts.astro";
import Colors from "../styles/colors.astro";

import Render from "../components/Render.astro";

import Head from "../components/Head.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

export async function getStaticPaths() {
  let QUERY, URL;

  //FETCH PAGE, CAT CONTENT
  QUERY = encodeURIComponent(
    `*[_type == "page"]{
    "seo": {title,description,slug,robots,canonical,schema,"ogimage":ogimage.asset->url},
    content[]{
      _type == "allposts" => {_type,size},
      _type == "hero" => {_type,h1,p,btn,img{alt,'src':asset->url}},
      _type == "valeurs" => {_type,h2,valeurs},
      _type == "services" => {_type,h2,services[]{h3,text,img{alt,'src':asset->url},"href":href->slug,ancre}},
      _type == "feature" => {_type,h2,img{alt,'src':asset->url},h3,text,"href":href->slug,ancre},
      _type == "cta" => {_type,h2,text,btn},
      _type == "title" => {_type,h1,text},
      _type == "faq" => {_type,h2,questions},
      _type == "contact" => {_type,prenom,nom,societe,email,message,rgpd,btn,success},
      _type == "etapes" => {_type, h2, etapes},
      _type == "block" => {...},
    }
  }`,
  );

  // Compose the URL for your project's endpoint and add the query
  URL = `https://${
    import.meta.env.PROJECT_ID
  }.api.sanity.io/v2021-10-21/data/query/${
    import.meta.env.DATASET
  }?query=${QUERY}`;
  // fetch the content
  let data = await fetch(URL)
    .then((res) => res.json())
    .then(({ result }) => {
      return result;
    })
    .catch((err) => console.error(err));

  let pages = data.map((page) => {
    return {
      pageslug: page.seo.slug,
      seo: page.seo,
      content: page.content,
    };
  });
  return pages.map(({ pageslug, seo, content }) => {
    if (pageslug == null) {
      pageslug = undefined;
    }
    return {
      params: { pageslug },
      props: { seo, content },
    };
  });
}

const { pageslug } = Astro.params;
console.log(pageslug);
const { seo, content } = Astro.props;
---

<!doctype html>
<html lang="fr" prefix="og: http://ogp.me/ns#">
  <Head seo={seo} />
  <Fonts />
  <Colors />
  <body>
    <Header />
    <Render data={content} />
    <Footer />
  </body>
</html>
