---
const query = encodeURIComponent('*[_type == "global"]{cat}');
const url = `https://${
  import.meta.env.PROJECT_ID
}.api.sanity.io/v2021-10-21/data/query/${
  import.meta.env.DATASET
}?query=${query}`;
// fetch the content

const data = await fetch(url)
  .then((res) => res.json())
  .then(({ result }) => {
    return result[0];
  });
---

<section id="filtres" class="my-16">
  <p class="text-2xl md:text-4xl font-bold font2 text-center my-4">
    Catégories des posts
  </p>
  <ul
    class="font-extrabold text-xl flex gap-4 justify-center list-none flex-wrap">
    {
      data.cat &&
        data.cat.map((item) => {
          return (
            <li class="bg-[var(--textColor)] text-[var(--accent1Color)] px-2 py-1">
              <button class="catSelector">{item}</button>
            </li>
          );
        })
    }
  </ul>
</section>
