---
import { PortableText } from "astro-portabletext";
const { node } = Astro.props;
---

<section
  class="w-full flex flex-col items-end border-b-4 border-[var(--textColor)]">
  <div class="flex flex-col items-end w-1/2 pr-4">
    <h1
      class="pt-8 text-3xl sm:text-4xl md:text-6xl xl:text-8xl font-extrabold uppercase mb-4 break-words hyphens-auto"
      set:html={node.h1}
    />
    {
      node.text && (
        <div class="text-base mb-8 font-extralight">
          <PortableText value={node.text} />
        </div>
      )
    }
  </div>
</section>
